/* 
    Created on : Jul 21, 2017, 1:57:17 AM
    Author     : Ken
*/
*{
    margin:0;
    padding:0;
    border:0;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: center;
    background:url('../images/background.png');
}

form{
    display: block;
    position: fixed;
    top: 286px;
    left: 340px;
    float: left;
    height: 300px;
    width: 595px;
    margin: auto;
    clear: right;
}

form input[type="text"], input[type="password"] {
    -webkit-appearance: textfield;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border:1px solid #aaa;
    border-radius: 4px;
    color: rgb(0,0,0);
    height: 30px;
    padding: 7px;
    opacity: 0.5;
}

form input[type="submit"], input[type="reset"]{
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #aaa;
    border-radius: 2px;
    width: 120px;
    size: 25px;
    height: 35px;
    font-size: 11px;
}

form input[type="time"] {
    -webkit-appearance: textfield;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border:1px solid #aaa;
    border-radius: 2px;
    height: 30px;
    width: 100px;
}

table{
    border-spacing: 30px;
}

#action_button{
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #aaa;
    border-radius: 2px;
    width: 100px;
    height: 35px;
}

#demo{
    position: fixed;
    top: 56px;
    float: right;
    right: 30px;
    width: 150px;
    height: 53px;
    background-color: #555;
    border: 1px solid black;
    display: block;
    color: #fff;
    font-size: 24px; 
    font-family: century-gothic;
    overflow: visible;
    line-height: 40px;
    text-align: center;
}
.exambutton{
    position: relative !important;
    top: 200px;
}

.login_error_div{
    position:relative;
    display:block;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.98;
    top:200px;
    width:750px;
    height:70px;
    text-align: center;
    font-size: 14px;
    color: rgba(250,9,9,0.6);
    outline: thin solid rgba(250,9,9,0.3);
    background-color:rgb(240,219,219);
    margin-left: auto;
    margin-right: auto;
    line-height: 70px;
    z-index: 1200;
}

.reg_success_div{
    position:relative;
    display:block;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.98;
    top: 200px;
    width:750px;
    height:70px;
    text-align: center;
    font-size: 14px;
    color: rgb(9,255,9);
    outline: thin solid rgba(9,250,9,0.3);
    background-color:rgb(204,255,204);
    margin-left: auto;
    margin-right: auto;
    line-height: 70px;
    z-index: 1200;
}

.opanel{
    position: absolute;
    float: left;
    clear: right;
    display: block;
    width: auto;
    height: auto;
    top:29px;
    font-size: 12px;
    left: 30px;
    border: 1px solid rgba(3,9,9,0.1);
    padding: 50px;
}

.exampanel, .classpanel{
    border: 1px solid rgba(0,0,0,0.1);
}

.exampanel{
    margin-top: 10px;
}

.classpanel{
    margin-top: 30px;
}

.subjectinput{
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #aaa;
    border-radius: 2px;
    width: 75px;
    height: 25px;
    color: rgba(0,0,0,0.6);
    font-size: 12px;
    text-align: left;
}

.subjectform{
    overflow: visible;
    margin: auto;
}

.subtable{
    border: 1px solid rgba(9,3,3,0.2);
    background: rgba(0,0,0,0.1);
    font-size: 12px;
    border-spacing: 10px;
    position: relative;
}

.subjectclass{
    border: 1px solid rgba(9,3,3,0.2);
    background: rgba(0,0,0,0.1);
    font-size: 12px;
    border-spacing: 10px;
    top: 175px;
    float: right;
    left: 820px;
    width: 350px;
    height: auto;
    position: fixed;
}

.selectsub{
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 125px !important;
    height: 40px !important;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #555;
    border-spacing: 10px;
    text-decoration: none;
    color: #000;
    display: block;
    line-height: 45px;
    text-align: center;
}

.dpanel{
    position: relative;
    top: 29px;
    margin: 0 30px 0 0;
    width: 167px;
    left: 300px;
    height: 623px;
    float: left;
    overflow-y: auto;
    overflow-x: visible;
    text-align: center;
}

.main_div{
    position: absolute;
    top: 29px;
    left: 290px;
    width: 890px;
    height: auto;
    float: left;
    overflow: visible;
}

.dateborder{
    border: 1px;
    text-align: left;
    border-spacing: 10px;
}

.preview{
    position: fixed;
    top: 280px;
    margin: auto;
    width: 600px;
    height: 300px;
    display: block;
    border: 1px solid #fff;
    line-height: 70px;
    background-color: #fff;
    z-index: 1000;
    text-align: center;
}

.success_div{
    position:relative;
    display:block;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.98;
    top: 50px;
    width:450px;
    height:70px;
    left: 200px;
    text-align: center;
    font-size: 14px;
    color: rgb(9,255,9);
    outline: thin solid rgba(9,250,9,0.3);
    background-color:rgb(204,255,204);
    margin-left: auto;
    margin-right: auto;
    line-height: 70px;
    overflow: hidden;
    z-index: 1200;
}

.error_div{
    position:relative;
    display:block;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.98;
    top:50px;
    width:450px;
    height:70px;
    left: 200px;
    text-align: center;
    font-size: 14px;
    color: rgba(250,9,9,0.6);
    outline: thin solid rgba(250,9,9,0.3);
    background-color:rgb(240,219,219);
    margin-left: auto;
    margin-right: auto;
    line-height: 70px;
    overflow: hidden;
    z-index: 1200;
}

.examclass, #classclass{
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 125px !important;
    height: 40px !important;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #555;
    text-decoration: none;
    color: #000;
    display: block;
    line-height: 45px;
    text-align: center;
}

.examquestions{
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 474px !important;
    height: 120px !important;
    border: 1px solid rgba(0,0,0,0.2);
    color: #000;
    display: block;
    text-align: left;
}

.examoptions{
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 225px !important;
    height: 60px !important;
    border: 1px solid rgba(0,0,0,0.2);
    color: #000;
    display: block;
    text-align: left;
}

.questionform{
    position: fixed;
    display: block;
    top: 178px;
    left: 290px;
    width: 510px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.1)
}

.questionform table{
    border-spacing: 12px;
    font-size: 12px;
} 

.questionform td{
    max-width: 235px;
}
#year, #exam, #class, #subject, #noofquestions,
label[for = 'year'],label[for = 'exam'], 
label[for = 'class'], label[for = 'subject'],
label[for = 'noofquestions']{
    font-size: 14px;
    min-width: 125px !important;
}

.spacing{
    border-spacing: 10px;
}

.close_error_div_img{
    position:relative;
    width:16px;
    height:16px;
    float:right;
    clear: left;
    top:2px;
    border: 0;
    padding: 0;
    margin:0;
}

.close_success_div_img{
    position:relative;
    width:16px;
    height:16px;
    float:right;
    clear: left;
    top:2px;
    border: 0;
    padding: 0;
    margin:0;
}

.no_background{

    margin:0;
    padding: 0;
    border: 0;
    background: #fff;
}

header nav{
position: fixed;
top: 0px;
margin: auto;
width: 100%;
height: 31px;
background-color: #000;
border: 1px solid #000;
line-height: 31px;
z-index: 1000;
}

nav ul li a{
    float: right;
    color: #fff;
    text-decoration: none;
    width: 100px;
    height: 30px;
    overflow: hidden;
}

nav ul li{
    text-align: center;
    display: inline;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0 5px 0 0;
    right: 60px;
    width: auto;
    height: auto;
    float: right;
    position: relative;
    overflow: hidden;
}

.vert_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    border: 1px solid #555;
    position: relative;
    top: 32px;
    float: left;
    overflow: visible;
}

.vert_nav li {
    text-align: center;
    border-bottom: 1px solid #555;
}

.vert_nav li:last-child{
    border-bottom: none;
}

.form_table{
    position: relative;
    margin: auto;
    width: 70%;
    height: auto;
    border: 1px solid #555;
}

.main_area{
    position: relative;
    top: 59px;
    float: right;
    margin: 0 60px 0 0;
    width: 71%;
    height: auto;
}

.vert_nav li a{
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

.vert_nav li:hover, a:hover{
    color: white;
    background-color: #555;
}

.vert_nav li a:hover{
    color: white;
}

.vert_nav li:active, a:active{
    background-color: #4caf50;
    color: white;
}

.preview{
    position: relative;
    display: block;
    margin: auto;
    width: 600px;
    height: auto;
}

#button_link{
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
    border: 1px solid #555;
    text-decoration: none;
    color: #000;
    background-color: #f1f1f1;
    line-height: 150px;
    text-align: center;
}

.register_button{
    width: 120px !important;
    height: 40px !important;
}

#teacher_registration_form{
    display: block;
    position: fixed;
    top: 206px;
    left: 470px;
    float: left;
    height: 330px;
    width: 595px;
    margin: auto;
    clear: right;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
}

#err, #suc{
    top: 100px !important;
    overflow: hidden;
}

.topmenuitems{
    position: fixed;
    display: block;
    text-decoration: none;
    list-style: none;
    top: 50px;
    left: 290px;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    min-width: 890px;
}

.topmenuitems li{
    display: inline-block;
    margin-right: 10px;
}

.tablenum{
    position: fixed;
    display: block;
    z-index: 1000;
    width: auto;
    height: auto;
    top: 260px;
    left: 810px; 
    border: 1px solid rgba(0,0,0,0.3);  
    overflow: inherit; 
    border-spacing: 1px !important;
}

.numclass{
    width: 30px;
    height: 30px;
    display: block;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.2);
    overflow: none;
    text-decoration: none;
    color: rgba(0,0,0,0.4);
    text-align: center;
    line-height: 30px;
    font-size: 13px;

}

.filebuttonwrap{
    position: relative;
    display: block;
    background-color: #000;
    width: 87px;
    height: 25px;
    border-radius: 2px;
    font-family: monospace;
    font-size: 11px;
    font-weight: bolder;
    color: #fff;
    line-height: 25px;
    text-align: center;
}

.fileupload{
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 0;
    padding: 0;
    margin: 0;
    left: 0;
}

.uploadedwrap{
    position: relative;
    display: block;
    width: 120px;
    height: 25px;
    top: -25px;
    left: 90px;
    background-color: transparent;
    font-family: monospace;
    font-size: 11px;
}

.examquestions, .examoptions{
    font-family: monospace;
    font-size: 11px;
    text-align: justify;
}